@using LibraryManagement.Models
@{
    Layout = null;
    dbcontext db = new dbcontext();
}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/img/logo-fav.png">
    <title>Institute Management</title>
    <link rel="stylesheet" type="text/css" href="~/assets/lib/perfect-scrollbar/css/perfect-scrollbar.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/lib/material-design-icons/css/material-design-iconic-font.min.css" />
    <link rel="stylesheet" href="~/assets/css/app.css" type="text/css" />
    <link href="~/assets/css/INFO.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />

    <link href="~/Content/chosen.min.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    @RenderSection("scripts", required: false)

    @*<link href="~/Areas/assets/css/style.css" rel="stylesheet" />*@
</head>
<body>
    <div class="be-wrapper">
        <nav class="navbar navbar-expand fixed-top be-top-header">
            <div class="container-fluid">
                <div class="be-navbar-header">
                    <a class="navbar-brand" href="#" style="background-image: none;">
                        @*<img src="~/UploadedFiles/@dd.logo" width="100" />*@
                    </a>
                </div>
                <div class="be-right-navbar">
                    <ul class="nav navbar-nav float-right be-user-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
                                @*<img src="~/UploadedFiles/@dd.logo" width="60" /><span class="user-name">Túpac Amaru</span>*@
                            </a>
                            <div class="dropdown-menu" role="menu">
                                <div class="user-info">
                                    <div class="user-name">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            var name = (User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest");
                                            @*Account rr = db.Accounts.Where(x => x.id == name).FirstOrDefault();
                                            <span> Welcome @rr.name</span>
                                            type = rr.Type;*@

                                        }
                                    </div>
                                    @*<div class="user-position online">@type</div>*@
                                </div>

                                <a class="dropdown-item" href="@Url.Action("Create","ChangePass")"><span class="icon mdi mdi-settings"></span>Change Password</a>
                                @if (User.IsInRole("Franchisee"))
                                {
                                    <a class="dropdown-item" href="@Url.Action("Index", "OurDetail")"><span class="icon mdi mdi-settings"></span>Institute Details</a>
                                }
                                <a class="dropdown-item" href="@Url.Action("SignOut","Account")"><span class="icon mdi mdi-power"></span>Logout</a>
                            </div>
                        </li>

                    </ul>
                    @*<div class="page-title"><span>@dd.name</span></div>*@

                </div>
            </div>
        </nav>

        <div class="be-left-sidebar">
            <div class="left-sidebar-wrapper">
                <a href="#" class="left-sidebar-toggle">Menu</a>
                <div class="left-sidebar-spacer">
                    <div class="left-sidebar-scroll">
                        <div class="left-sidebar-content">
                            <ul class="sidebar-elements">
                                <li class="divider">Menu</li>
                                <li>
                                    <a href="@Url.Action("Index","Default")"><i class="fa fa-home"></i> Dashboard</a>
                                </li>
                                <li class="parent">
                                    <a href="#"><span>Books</span></a>
                                    <ul class="sub-menu">

                                        <li>
                                            <a href="@Url.Action("Create","Books")"><i class="fa fa-desktop"></i> Add Books</a>
                                        </li>

                                        <li>
                                            <a href="@Url.Action("Index","Books")"><i class="fa fa-desktop"></i> Book List</a>
                                        </li>
                                        
                                        
                                    </ul>
                                </li>
                                
                                <li class="parent">
                                    <a href="#"><span>Setting</span></a>
                                    <ul class="sub-menu">

                                        <li>
                                            <a href="@Url.Action("Index","Authors")"><i class="fa fa-desktop"></i> Author</a>
                                        </li>

                                        <li>
                                            <a href="@Url.Action("Index","Categories")"><i class="fa fa-desktop"></i> Categories</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index","Publishers")"><i class="fa fa-home"></i> Publishers</a>
                                        </li>
                                        @*<li>
                                                <a href="@Url.Action("Index","FranchRecp")"><i class="fa fa-home"></i> Receptionist</a>
                                            </li>*@
                                        @*<li>
                                                <a href="@Url.Action("Index","OurDetail")"><i class="fa fa-home"></i> Institute Detail</a>
                                            </li>*@
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="be-content">
            <div class="main-content container-fluid">
                <div class="card card-border-color card-border-color-primary">
                    @*<div class="card-header card-header-divider">Check Structure<span class="card-subtitle"></span></div>*@
                    <div class="card-body">
                        @RenderBody()

                    </div>
                </div>

            </div>
        </div>

    </div>
    <script src="~/assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/lib/perfect-scrollbar/js/perfect-scrollbar.min.js" type="text/javascript"></script>
    <script src="~/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/js/app.js" type="text/javascript"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                //-initialize the javascript
                App.init();
            });

    </script>
    <script src="~/Scripts/alertify.min.js"></script>
    <script>
        $(function () {

            var message = '@TempData["Success"]'
            var danger = '@TempData["danger"]'
            if (message != '') {
                alertify.success(message);
            }
            if (danger != '') {
                alertify.error(danger);
            }
        })
    </script>
    <script src="~/Scripts/jquery.PrintArea.js"></script>
    <script>
    $(document).ready(function() {
        $("#print").click(function() {
            var mode = 'iframe'; //popup
            var close = mode == "popup";
            var options = {
                mode: mode,
                popClose: close
            };
            $("div.printableArea").printArea(options);
        });
    });
    </script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <script>
        $(function () {
          //  normal dropdown
            $(".normalDropDown").chosen({
                no_results_text: "Oops, nothing found!"
            });

           // multiselect DropDown
            $(".multiSelectDropDown").chosen({
                width : "100%"
            });
        });

    </script>
</body>
</html>