@model IEnumerator<LibraryManagement.Models.Membership>
@using LibraryManagement.Models

@{
    dbcontext db = new dbcontext();
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("Index","CheckStatus"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Batch</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label>Enter Library CardNumber</label>
            @*@Html.EditorFor(model => model.Idnumber, new { htmlAttributes = new { @class = "form-control" } })*@


        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-space btn-primary" />
                <a href="javascript:void(0);" onclick="AddBook(1)">Add Book</a>
            </div>
        </div>
    </div>
}
<table class="table table-striped table-hover table-fw-widget" id="table5">
    <thead>
        <tr>
            <th>
                Holder Name
            </th>

            <th>
                Book Name
            </th>
            <th>
                Issue Date
            </th>
            <th>
                Due Date
            </th>
            <th>
                Return Date
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @db.Memberships.Find(item.Mid).StudentName
                </td>
                <td>
                    @db.Books.Find(item.Bid).Name
                </td>

                <td>
                    @Convert.ToDateTime(item.IssueDate).ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Convert.ToDateTime(item.LastDate).ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Convert.ToDateTime(item.ReturnDate).ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a href="javascript:void(0);" onclick="ReturnBook(@item.Sid)" class="badge badge-primary">Edit</a> |
                    <a href="javascript:void(0);" onclick="ReturnBook(@item.Sid)" class="badge badge-danger">Return Book</a>
                </td>
            </tr>
        }
    </tbody>
</table>

    


<div class="modal fade colored-header colored-header-primary" id="form-bp1" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-colored">
                <h3 class="modal-title">Update Follow Up</h3>
                <button class="close md-close" type="button" data-dismiss="modal" aria-hidden="true"><span class="mdi mdi-close">       </span></button>
            </div>
            <div class="modal-body" id="myModalBodyDiv1">

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary md-close" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary md-close" type="button" data-dismiss="modal">Proceed</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.js"
        integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo="
        crossorigin="anonymous"></script>
@section scripts
{
    <script>


    var AddBook=function(Member){
        debugger;
        var url = "/CheckStatus/Add?id=" + Member;
       // var url = "/Model/EmployeePartial";
        $("#myModalBodyDiv1").load(url, function () {

            $("#form-bp1").modal("show");

        })

    }
    </script>
<script>


    var BookHistory=function(Member){
        debugger;
        var url = "/CheckStatus/History?id=" + Member;
       // var url = "/Model/EmployeePartial";
        $("#myModalBodyDiv1").load(url, function () {

            $('#divid').innerHTML = data;

        })

    }
</script>
}


